<% if logged_in? %>
	<%= provide(:title, "Home") %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user-info">
				<%= render 'shared/user_info' %>
			</section>
			<%= link_to "Create Post", new_post_path, class: "btn btn-primary" %>
		</aside>
		<div class="col-md-8">
			<h3>Posts feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<%= provide(:title, "BLOGiT - the ultimate blogger") %>
	<div class="center jumbotron">
		<h2>Welcome to BLOGiT - the ultimate blogger</h2>
		<p>Put your thoughts to words...</p><br>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<div class="center">
		<strong><i>Powered by</i></strong> <%= link_to image_tag("rails.png", alt:"Rails logo", width: "68", height: "87"), 'https://rubyonrails.org/' %>	
	</div>
<% end %>
