<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1><%= user_gravatar @user %></h1>
			<h1><%= @user.name %></h1>
			<h1><%= @user.email %></h1>
		</section>
	</aside>
	<div class="col-md-8">
		<% if @user.posts.any? %>
			<h3>Posts (<%= @user.posts.count %>)</h3>
			<ol class="posts">
				<%= render @posts %>
			</ol>
			<%= will_paginate @posts %>
		<% elsif current_user? @user %>
			<h4>Looks like you haven't created any posts yet.</h4>
			<p>Begin your journey with a new post. It's very simple <%= link_to "Home", root_path %> > Create Post</p>
		<% else %>
			<h4>Oops, <b><%=@user.name%></b> hasn't created any posts yet!</h4>
		<% end %>
	</div>
</div>