<%= form_for(@post) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Once upon a time..." %>
	</div>
	<%= f.label :public_post, class: "checkbox inline", as: :boolean  do %>
		<span><%= f.check_box :public_post %> Make as Public Post</span>
	<% end %>
	<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>