<%= form_for(@post, html: { class: "form-horizontal"}) do |f| %>
  <%= provide(:title, "New story") %>
  <%= render 'shared/error_messages', object: f.object %>
  
	<div class="form-group">
    <%= f.label :title, "About", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: "A title for the story", class: "form-control input-lg" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :content, placeholder: "The story goes here", class: "form-control input-lg", rows: 7 %>
    </div>
  </div>
  
	<div class="form-group">
    <%= f.label :share_to, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.collection_select :user_id, User.all_except(current_user), :id, :name, {}, {:multiple => true, class: "form-control", :size => "7" } %>
    </div>
  </div>
  
  <div class="form-group">
    <span class="col-sm-4"><%= f.check_box :public_post, { checked: true }, true, false %> Public post</span>
    <span class="col-sm-4"><%= f.check_box :mute_notif, { checked: false }, true, false %> Mute notification emails for this post<br></span>
  </div>
	
  <%= f.submit "Create Post", class: "btn btn-large btn-primary col-md-offset-2" %>
  
<% end %>
