<li id="post-<%= post.id %>">
	<span class="user">
		<%= link_to post.user.name, post.user %>
		<%= image_tag("lock_small") if post.public_post == false %>	
	</span>
	<span class="content"><%= post.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(post.created_at) %> ago.
		<%= link_to "View", post_path(post.id) %>
		<% if current_user?(post.user) %>
			<%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
			<%= link_to "Share", new_shared_post_path(post: post) if post.public_post == false %>
		<% end %>
	</span>
</li>