<%= provide(:title, @post.title) %>
<aside>
	<h3>
		<%= @post.title %>
	</h3>
	<p>
	  <%= @post.content %>
	</p>
</aside>

<div id ="comments">
	<strong>Comments(<%= @post.comments.count %>)</strong>
	
	<% if @post.comments.nil? %>
		<h2> Be the first to comment </h2>
	<% else %>
	<ul class="commentlist">
		<% @post.comments.each do |comment| %>
			<li class="comment">
				<b>
					<% if comment.user_id.nil? %>
						Anonymous
					<% else %>
						<%= comment.user.name %>
					<% end %>
				</b>
				<%= comment.body %>
			</li>
		<% end %>
	</ul>
	<% end %>

</div>

<%= form_for :comment, url: post_comments_path(@post) do |f| %>
	<p>
		<%= f.label :body, "Add a comment" %><br>
		<%= f.text_area :body %>
		<p>
			<%= f.label :comment_anonymously, class: "checkbox inline"  do %>
				<span><%= f.check_box :comment_anonymously %> Comment Anonymously</span>
			<% end %>
		</p>
	</p>
	<%= f.submit "Add" %>
<% end %>

